{
    "root": true,
    "extends": [
        "@hh.ru/eslint-config",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "classes": true
        }
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "class-methods-use-this": "off"
    }
}
